*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/swephp
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

# swephp build artifacts (php artisan swephp:install)
/Docker/sweph/Makefile
/Docker/sweph/Makefile.fragments
/Docker/sweph/Makefile.objects
/Docker/sweph/Makefile.global
/Docker/sweph/acinclude.m4
/Docker/sweph/autom4te.cache/
/Docker/sweph/build/
/Docker/sweph/config.h
/Docker/sweph/config.h.in
/Docker/sweph/config.nice
/Docker/sweph/config.status
/Docker/sweph/configure
/Docker/sweph/configure.ac
/Docker/sweph/include/
/Docker/sweph/libtool
/Docker/sweph/ltmain.sh
/Docker/sweph/missing
/Docker/sweph/mkinstalldirs
/Docker/sweph/modules/
/Docker/sweph/run-tests.php
/Docker/sweph/.libs/
/Docker/sweph/*.lo
/Docker/sweph/*.la
/Docker/sweph/*.o
/Docker/sweph/swephp.dep
/Docker/sweph/sweph/src/*.o
/Docker/sweph/sweph/src/libswe.a
